.intro {
  background-color: yellow;
}

.foot {
  background-color: red;
}

.menu {
  background-color: blue;
}

.test {
  width: 100px;
  height: 100px;
  background-color: orange;
  margin: 10px;
  border-radius: 10px;
}


.test2 {
  width: 100px;
  height: 100px;
  background-color: blue;
  margin: 10px;
  border-radius: 10px;
}
